 <section class="schedule" id="schedule">

        <div class="container">
            <div class="section-title wow fadeInUp">
                <h4>AGENDA</h4>
            </div>

            <div class="nav-center">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                    <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">EVENTO (24/11)</a></li>
                </ul>

            </div>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- ########### Begin Timeline  DAY 01  ########### -->
                <div role="tabpanel" class="tab-pane active" id="day1">
                    <section class="timeline">
                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Credenciamento</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Abertura</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:30 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Keynote</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Martin Spier | Netflix</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">09:45 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">10:35 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:05 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Intervalo</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:45 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">11:55 AM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Almoço</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">12:35 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">14:30 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Intervalo</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">15:10 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">15:20 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Invervalo</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:00 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:10 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Coffee break</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">16:50 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">17:20 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Invervalo</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">18:00 PM</span>
                            </div>
                        </div>


                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Tema a ser definido</h2>
                                <p class="wow flipInX" data-wow-delay="0.3s">Palestrante a ser definido</p>
                                <span class="date wow flipInX" data-wow-delay="0.3s">18:10 PM</span>
                            </div>
                        </div>

                        <div class="timeline-block">
                            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                            <div class="timeline-content">
                                <h2 class="wow flipInX" data-wow-delay="0.3s">Encerramento</h2>
                                <span class="date wow flipInX" data-wow-delay="0.3s">18:50 PM</span>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- ########### End Schedule Timeline  DAY 01  ########### -->
        </div>
        <!-- end .container -->

    </section>
