<section class="sponsors highlight" id="sponsors">
  <div class="container">
    <div class="section-title">
      <h4>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).sponsors }}
      </h4>
      <p>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).companies_sponsors }}
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 diamond-sponsors">
        <h5 class="text-center">Platinum</h5>
        <br>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://softplan.com.br">
              <img alt="Softplan" class="img-responsive center-block" src="images/sponsors/softplan.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>
        <!--end platinum sponsors -->
      </div>
    </div>
    <!--end platinum section-->
    <div class="row">
      <div class="col-sm-12 gold-sponsors">
        <h5 class="text-center">Gold</h5>
        <br>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>
        <!--end gold sponsors-->
      </div>
    </div>
    <!--end gold section-->
    <div class="row">
      <div class="col-sm-12 silver-sponsors">
        <h5 class="text-center">Silver</h5>
        <br>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://adaptnow.com.br">
              <img alt="AdaptNow" class="img-responsive center-block" src="images/sponsors/adaptnow.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://geekhunter.com.br">
              <img alt="GeekHunter" class="img-responsive center-block" src="images/sponsors/geekhunter.png">
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://bry.com.br">
              <img alt="BRy" class="img-responsive center-block" src="images/sponsors/bry.png">
            </a>
          </div>
        </div>
        <!--end silver sponsors-->
      </div>
    </div>
    <!--end silver section-->
    <div class="row">
      <div class="col-sm-12 bronze-sponsors">
        <br>  
        <h5 class="text-center">Bronze</h5>
        <br>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://totalvoice.com.br/">
              <img alt="TotalVoice" class="img-responsive center-block" src="images/sponsors/totalvoice.png">
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="">
              <img alt="" class="img-responsive center-block" src="">
            </a>
          </div>
        </div>
        <!--end bronze sponsors-->
      </div>
    </div>
    <!--end bronze section-->
    <br>
    <div class="row">
      <div class="col-sm-12 supporters">
        <h5 class="text-center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).support }}</h5>
        <br>
        <div class="col-md-4 col-sm-4 text-center">
            <div class="sponsor">
              <a href="">
                <img alt="" class="img-responsive center-block" src="">
              </a>
            </div>
          </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="sponsor">
            <a href="https://www.sudocast.com.br/">
              <img alt="Sudocast" class="img-responsive center-block" src="images/sponsors/sudocast.png">
            </a>
          </div>
        </div>
        <!--end supporters -->
      </div>
    </div>
    <!--end supporters section-->
    <div class="section-title">
      <p>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_sponsors }} <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).prospec_link }}" target="blank">{{ ( index $.Site.Data.translations $.Site.Params.locale ).get_in_touch }}</a>.
      </p>
    </div>
  </div>
  <!-- end .container -->
</section>
<!-- end section.sponsors -->
